@require "app/styles/charte";

#messages
	border-top: 1px solid $border-color
	height: calc(20vh - 10em)
	overflow-y: auto

	.message
		padding: 1.5rem 1rem
		&-content
			font-size: 1.2em

		&-user
			text-transform: uppercase
			font-size: 0.7em

		&--own
			background-color: $bg-own-message
