{% extends 'base.html.twig' %}

{% block body %}

    <div class="container form-group col-xs-10" id="commStyle">
    {{ form_start(form) }}

        <p class="d-none d-sm-block ">Hello {{ app.user.username }}</p>
        <div class="form-group ">{{ form_row(form.comment,
            {
                'label': 'Tapez votre commentaire ci dessous',
                'attr': {'class': 'form-control'}
            })
            }}
        </div>

        <button class="btn btn-primary" type="submit"> Commenter </button>
    {{ form_end(form) }}
    </div>
{% endblock %}