{% extends 'base.html.twig' %}

{% block body %}

{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

    <style>
        #jumb{
            font-weight: 900;
            background-image: url("https://images.unsplash.com/photo-1523484362566-d2583a17bbb6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=b45bc01350dca480fadc27185e293d44");  }
        #slo{
            font-size: 2em;}
    </style>
    <div id="jumb" class="p-5 m-0">
        <h2 class="display-4 text-white">Bonjour {{ app.user.username }}</h2>
        <p class="ml-1 text-white" id="slo">  Cherchez, discutez, c'est réglé !</p>
        <hr class="my-4 bg bg-light">
        <p class="lead text-white">
            <a class="btn btn-info btn-lg" href="#" role="button">Créer votre annonce</a>
        </p>
    </div>

{% else %}

    <style>
        #jumb{
            font-weight: 900;
            background-image: url("https://images.unsplash.com/photo-1475851624515-90a9a335785d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=2c5b6f2fc0c47b065426fd9931e80343");  }
        #slo{
            font-size: 2em;}
    </style>
    <div id="jumb" class="p-5 m-0">
        <h2 class="display-4 text-white">Bienvenue sur ReptiGarde</h2>
        <p class="ml-1 text-white" id="slo">  Le site qui chouchoute vos reptiles quand vous vous absentez</p>
        <hr class="my-4 bg bg-light">
        <p class="lead text-white">
            Pour profiter de tous les services : <a class="btn btn-info btn-lg" href="{{ path('fos_user_registration_register') }}" role="button">Inscrivez-vous</a>
        </p>
    </div>

{% endif %}

{% endblock %}
