{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5 mb-4">
    <p id="teamTitle">La Dream team</p>
    <div class="row"  id="team">

        <div class="card mr-2 ml-2 mb-3 p-0 col-md-5 col-lg-5 col-xs-10">
            <h3 class="card-header">Cindy Jagueneau</h3>
            <div class="card-body">
                <h5 class="card-title">Développeuse Back-end</h5>
                <h6 class="card-subtitle text-muted">Symfony</h6>
            </div>
            <img id="imgteam" src="https://files.slack.com/files-tmb/T85KWUS2F-FAM25SHDE-521b0cf1a8/p8010053_1024.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">
                    <a href="https://twitter.com/" target="blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social mr-2"></i></a>
                    <a href="https://www.linkedin.com/in/cindy-jagueneau-8735b1151/" target="blank"><i id="social-lk" class="fa fa-linkedin-square fa-3x social ml-2"></i></a>
                </p>
            </div>
        </div>
        <div class="card mr-2 ml-2 mb-3 p-0 col-md-5 col-lg-5 col-xs-10">
            <h3 class="card-header">Magali Marturano</h3>
            <div class="card-body">
                <h5 class="card-title">Développeuse Back-end</h5>
                <h6 class="card-subtitle text-muted">Symfony</h6>
            </div>
            <img id="imgteam" src="https://pbs.twimg.com/profile_images/953604827271061504/ueGofgkT_400x400.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">
                    <a href="https://twitter.com/LiliDevMart" target="blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social mr-2"></i></a>
                    <a href="https://www.linkedin.com/in/magali-marturano-164a64147/" target="blank"><i id="social-lk" class="fa fa-linkedin-square fa-3x social ml-2"></i></a>
                </p>
            </div>
        </div>
        <div class="card mr-2 ml-2 mb-3 p-0 col-md-5 col-lg-5 col-xs-10">
            <h3 class="card-header">Mael Demeo</h3>
            <div class="card-body">
                <h5 class="card-title">Dévelopeur Front-end</h5>
                <h6 class="card-subtitle text-muted">React</h6>
            </div>
            <img id="imgteam" src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-512.png" alt="Card image">
            <div class="card-body">
                <p class="card-text">
                    <a href="https://twitter.com/" target="blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social mr-2"></i></a>
                    <a href="https://www.linkedin.com/" target="blank"><i id="social-lk" class="fa fa-linkedin-square fa-3x social ml-2"></i></a>
                </p>
            </div>
        </div>





    </div>
</div>



{% endblock %}