{% extends 'base.html.twig' %}

{% block body %}

<div class="container mt-5 mb-4">
    <p id="teamTitle">La Dream team</p>
    <div class="row"  id="team">

        <div class="card mr-5 mb-3 p-0 col-md-5 col-lg-5 col-xs-10">
            <h3 class="card-header">Cindy Jagueneau</h3>
            <div class="card-body">
                <h5 class="card-title">Développeuse Back-end</h5>
                <h6 class="card-subtitle text-muted">Symfony</h6>
            </div>
            <img id="imgteam" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image">
            <div class="card-body">
                <p class="card-text">
                    <a href="https://twitter.com/" target="blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social mr-2"></i></a>
                    <a href="https://www.linkedin.com/" target="blank"><i id="social-lk" class="fa fa-linkedin-square fa-3x social ml-2"></i></a>
                </p>
            </div>
        </div>
        <div class="card mr-5 mb-3 p-0 col-md-5 col-lg-5 col-xs-10">
            <h3 class="card-header">Magali Marturano</h3>
            <div class="card-body">
                <h5 class="card-title">Développeuse Back-end</h5>
                <h6 class="card-subtitle text-muted">Symfony</h6>
            </div>
            <img id="imgteam" src="https://pbs.twimg.com/profile_images/953604827271061504/ueGofgkT_400x400.jpg" alt="Card image">
            <div class="card-body">
                <p class="card-text">
                    <a href="https://twitter.com/LiliDevMart" target="blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social mr-2"></i></a>
                    <a href="https://www.linkedin.com/in/magali-marturano-164a64147/" target="blank"><i id="social-lk" class="fa fa-linkedin-square fa-3x social ml-2"></i></a>
                </p>
            </div>
        </div>
        <div class="card mr-5 mb-3 p-0 col-md-5 col-lg-5 col-xs-10">
            <h3 class="card-header">Mael Mael</h3>
            <div class="card-body">
                <h5 class="card-title">Dévelopeur Front-end</h5>
                <h6 class="card-subtitle text-muted">React</h6>
            </div>
            <img id="imgteam" src="https://cdn0.iconfinder.com/data/icons/unigrid-flat-human-vol-2/90/011_101_anonymous_anonym_hacker_vendetta_user_human_avatar-512.png" alt="Card image">
            <div class="card-body">
                <p class="card-text">
                    <a href="https://twitter.com/" target="blank"><i id="social-tw" class="fa fa-twitter-square fa-3x social mr-2"></i></a>
                    <a href="https://www.linkedin.com/" target="blank"><i id="social-lk" class="fa fa-linkedin-square fa-3x social ml-2"></i></a>
                </p>
            </div>
        </div>





    </div>
</div>



{% endblock %}