{% trans_default_domain 'FOSUserBundle' %}

<h3 class="mt-5 ml-5 pl-3">Modifier votre mot de passe</h3>

<div class="container">

    {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

        <div class="form-group text-left col-xs-10">{{ form_widget(form, {'attr': {'class':'form-control'}})  }}</div>

        <div>
            <input class="btn btn-primary btn-lg" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
        </div>

    {{ form_end(form) }}

</div>