#hr{
    border-top: 2px solid #78c2ad;
}

/* STYLE of navbar*/
#nav{
    box-shadow: -3px 10px 33px -6px rgba(0,0,0,0.75);

}

#jumb
{
     box-shadow: -6px 7px 10px -6px;
     font-weight: 900;
     background-image: url("https://images.unsplash.com/photo-1523484362566-d2583a17bbb6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=b45bc01350dca480fadc27185e293d44");
}

#jumb h2{
    font-size: 2.5em;
}

 #jumb1{
     box-shadow: -6px 7px 10px -6px;
     font-weight: 900;
     background-image: url("https://images.unsplash.com/photo-1475851624515-90a9a335785d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&h=400&fit=crop&ixid=eyJhcHBfaWQiOjF9&s=2c5b6f2fc0c47b065426fd9931e80343");
 }

#jumb1 h2{
    font-size: 2.5em;
}

#slo {
    font-size: 2em;
}

/* BACKGROUND AD HOMEPAGE */
#indexcont{
    background-color: #78c2ad;
    border-radius: 10px;
    padding: 2em;
}

/* LOGIN FORM */
#login{
    background-color: currentColor;
}

#login label{
    font-weight: bold;
}

#_submit{
    font-weight: bold;
}

/* REGISTRATION FORM */
#register{
    background-color: currentColor;
}

#register label{
    font-weight: bold;
}

/* Style of last Ad in HomePage*/
#lastAd{
    box-shadow: 10px 10px 33px -6px black;
    /* border-radius: 10px; */
    background-color: whitesmoke;
}

#adTitle{
    text-align: center;
    /*background-color: #d6fffa;*/
    font-weight: bold;
    padding: 1em;
    color: #95d6c3;
}

/* Style of Ad in Ads List Page*/
#listAd{
    box-shadow: 10px 10px 33px -6px darkgrey;
    border-radius: 3px;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;
    background-color: darkslategrey;
    color: white;
}

#adsTitle{
    padding: 0.5em 0.5em 0.5em 0em;
}

#headads{
    display: flex;
    justify-content: space-between;
}

#headads img{
    border-radius: 3em;
}

#ville{
    margin-top: -1em;
    margin-bottom: 2em;
}

/* My PROFIL  */

#myprofil{
    background-color: cadetblue;
    color: white;
    border-radius: 5px;
}

#myprofil span{
    font-weight: bold;
    font-size: 1.3em;
}

/* EDIT PROFIL */

#editProfil{
    background-color: gainsboro;
}

/* CREATE AD */
#createAd{
    background-color: antiquewhite;
}

/* STYLE DETAIL ADS PAGE*/

#addetail{
    box-shadow: 10px 10px 33px -6px rgba(0,0,0,0.75);
     border-radius: 10px;
    margin-top: 2em;
    margin-bottom: 3em;
    padding: 1em;
}

#addetail h3{
    font-weight: bold;
}


/*  STYLE OF COMMENTS IN ADS DETAILS*/
#adsComms{
    margin-right: 1em;
}

#comms{
    margin-bottom: 3em;
    box-shadow: 3px 11px 33px -6px darkgrey;
    border-radius: 10px;
    background-color: whitesmoke;
}

/* STYLE SEARCH BAR */
#search{
    position: relative;
    bottom: 1.2em;
}

#search nav{
    border-radius: 5px;
    background-color: darksalmon;
}

#search button{
    font-weight: bold;
}