// @require "app/styles/charte";
//
// #app
//   // background: $bg-color !important;
//   text-align: right
//   color: $text-color
//
//
//   &-title
//     font-size: 2em
//     padding: 1.5rem 2rem
//
// .title-color
